﻿@{
    ViewBag.Title = "Редактировать";
}

@model AssystJournal.Models.Comment
<h2>@ViewBag.H2</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Journal.Id)
 
        <div class="item">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>
        <input type="submit" value="Отправить" />
    }
</div>