﻿@{
    ViewBag.Title = "Создать";
}
@model AssystJournal.Models.Journal
<h2>@ViewBag.H2</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date)         
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AssystId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AssystId)
                    @Html.ValidationMessageFor(model => model.AssystId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClientId)
                    @Html.ValidationMessageFor(model => model.ClientId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Decription, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Decription)
                    @Html.ValidationMessageFor(model => model.Decription)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Result)
                    @Html.ValidationMessageFor(model => model.Result)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsOnControl, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.IsOnControl)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
</div>
