﻿@model AssystJournal.Models.Journal
@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Date)</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>
        <dt>@Html.DisplayNameFor(model => model.AssystId)</dt>
        <dd>@Html.DisplayFor(model => model.AssystId)</dd>
        <dt>@Html.DisplayNameFor(model => model.ClientId)</dt>
        <dd>@Html.DisplayFor(model => model.ClientId)</dd>
        <dt>@Html.DisplayNameFor(model => model.Decription)</dt>
        <dd>@Html.DisplayFor(model => model.Decription)</dd>
        <dt>@Html.DisplayNameFor(model => model.Result)</dt>
        <dd>@Html.DisplayFor(model => model.Result)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
            <br />
            <br />
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>