﻿@using AssystJournal.Models
@{
    ViewBag.Title = "Просмотр";
}

@model Journal
@{ Comment dummyModel = null; }

<h2>@ViewBag.H2</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Date)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AssystId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.AssystId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ClientId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Decription, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Decription)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Result)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsOnControl, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.IsOnControl)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>


<div class="row">
    @Html.ActionLink("Добавить комментарий", "Create", "Comment", new { id = Model.Id }, null)
</div>

@if (Model.Comments != null && Model.Comments.Count > 0)
{
    <div class="row top-buffer">
        <table class="table-bordered">
            <tr>
                <th></th>
                <th class="text-center">@Html.DisplayNameFor(model => dummyModel.Id)</th>
                <th class="text-center">@Html.DisplayNameFor(model => dummyModel.Date)</th>
                <th class="text-center">@Html.DisplayNameFor(model => dummyModel.Text)</th>
                <th></th>
            </tr>


            @foreach (var item in Model.Comments)
                {
                <tr>
                    <td class="text-center">@Html.ActionLink("Изменить", "Edit", "Comment", new { id = item.Id }, null)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>              
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Date)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Text)</td>
                    <td class="text-center">@Html.ActionLink("Удалить", "Delete", "Comment", new { id = item.Id }, null)</td>
                </tr>
            }

        </table>
    </div>
}
