﻿@{
    ViewBag.Title = "Обращения";
}
@model  IEnumerable<AssystJournal.Models.Journal>


<h1>Спиоск обращений</h1>
<h3>@ViewBag.Message</h3>


<div class="row">
    <table class="table-bordered">
        <tr>
            <th></th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Id)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Date)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.AssystId)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.ClientId)</th>
            <th>@Html.DisplayNameFor(model => model.Decription)</th>
            <th>@Html.DisplayNameFor(model => model.Result)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Comments)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.IsOnControl)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="@(item.IsOnControl ? "warning" : "")">
                <td class="text-center">@Html.ActionLink("Изменить", "Edit", new { id = item.Id }) | @Html.ActionLink("Просмотреть", "Details", new { id = item.Id })</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Date)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.AssystId)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.ClientId)</td>
                <td>@Html.DisplayFor(modelItem => item.Decription)</td>
                <td>@Html.DisplayFor(modelItem => item.Result)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Comments.Count)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.IsOnControl)</td>
                <td class="text-center">@Html.ActionLink("Удалить", "Delete",new { id = item.Id }) | @Html.ActionLink("Добавить. комментарий", "Create", "Comment", new { id = item.Id }, null)</td>
            </tr>
        }

    </table>
</div>